<h1>Admin Dashboard</h1>

<h3 class=""><%= link_to 'Total products', :products %>: <%=@product_count %></h3>
<h3 class=""><%= link_to 'Total categories', :admin_products %>: <%=@category_count %></h3>