<section>
  <h1>
    About Me
  </h1>
  <p>
    Jungle is a mini e-commerce application which allows users to view and
    purchase products with Stripe verification. Admins can add products and
    categories.
  </p>
</section>
