<section>
  <h1>
    Jungle is a mini e-commerce application which allows users to view and
    purchase products with Stripe verification. Admins can add products and
    categories.
  </h1>
</section>
